# Import libraries

In [176]:
import string
import re
import nltk
import gensim
from sklearn.feature_extraction.text import TfidfVectorizer

try:
    # If not present, download NLTK stopwords.
    nltk.data.find("corpora/stopwords")
except LookupError:
    nltk.download("stopwords")

from nltk.corpus import stopwords as nltk_en_stopwords
nltk_stopwords = set(nltk_en_stopwords.words("english"))

In [47]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

# Helper functions

In [203]:
def remove_punctuations(s):
    """
    Replace all punctuations with whitespace
    Punctuations are exhaustive from string.punctuation library:
    !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~
    """
    for character in string.punctuation:
        s = s.replace(character, ' ')
    return s


def replace_digits(s):
    """
    Replaces all digits with whitespace.
    """
    return re.sub("^\d+\s|\s\d+\s|\s\d+$", " ", s)

def remove_urls(s):
    """
    Replaces all URLs with whitespace
    URLs: All text that starts with:
    - http://
    - https://
    """
    return re.sub('http[s]?://\S+', '', s)

def remove_hashtags(s):
    """
    Replaces all hashtags with whitespace
    Hashtags are any words that starts with '#'
    """
    return re.sub("#[A-Za-z0-9_]+"," ", s)

def standardize_lowercase(s):
    return s.lower()

def remove_stopwords(s, sw=nltk_stopwords):
    """
    Replaces all NLTK stopwords with whitespace 
    """
    pattern = re.compile(r'\b(' + r'|'.join(set(sw)) + r')\b\s*')
    s = pattern.sub(' ', s)
    return s

def remove_excess_whitespace(s):
    """
    Ensure multiple whitespaces are converted to just one whitespace for text consistency
    """
    return " ".join(s.split()).strip()

def get_default_pipeline():
    return [remove_urls,
        remove_punctuations,
           replace_digits,
           remove_hashtags,
           standardize_lowercase,
           remove_stopwords,
           remove_excess_whitespace]

def overall_clean(df, pipeline=None):
    if not pipeline: # May allow future customization
        pipeline = get_default_pipeline()
    for task in pipeline:
        df["text"] = df["text"].apply(task)
    return df

In [218]:
df = pd.read_csv("../dataset/amazon_product.csv", header=None, encoding="unicode-escape").iloc[1:,:].rename(columns={0:"text"})
df

                                                   text
1     I initially had trouble deciding between the p...
2     Allow me to preface this with a little history...
3     I am enjoying it so far. Great for reading. Ha...
4     I bought one of the first Paperwhites and have...
5     I have to say upfront - I don't like coroporat...
...                                                 ...
1593  This is not the same remote that I got for my ...
1594  I have had to change the batteries in this rem...
1595  Remote did not activate, nor did it connect to...
1596  It does the job but is super over priced. I fe...
1597  I ordered this item to replace the one that no...

[1597 rows x 1 columns]

In [219]:
%%time
df = overall_clean(df)
df

CPU times: total: 891 ms
Wall time: 868 ms

                                                   text
1     initially trouble deciding paperwhite voyage r...
2     allow preface little history casual reader own...
3     enjoying far great reading original fire since...
4     bought one first paperwhites pleased constant ...
5     say upfront like coroporate hermetically close...
...                                                 ...
1593  remote got alexa echo control volume think rem...
1594  change batteries remote twice per month since ...
1595  remote activate connect box poorly designed re...
1596  job super priced feel like offer replacement r...
1597  ordered item replace one longer works directio...

[1597 rows x 1 columns]

In [220]:
def remove_punctuation(text):
    for tok in string.punctuation:
        text = text.replace(tok, " ")
    return text

def remove_digits(text):
    for tok in "1234567890":
        text = text.replace(tok, " ")
    return text

def remove_whitespace(text):
    return " ".join(text.split())

def remove_stopwords(text):
    text_tokens = word_tokenize(text)
    filtered_sentence = [w for w in text_tokens if not w in stop_words]
    return " ".join(filtered_sentence)

In [221]:
remove_pun

NameError: name 'remove_pun' is not defined

In [222]:
text_for_contextual = clean_for_contextual(df)[df.columns[0]].to_list()
text_for_bow = clean_for_bow(df)[df.columns[0]].to_list()

NameError: name 'clean_for_contextual' is not defined

# Topic modelling - GSDMM
1) Explore means of short text TM
2) Get overall topic docs and distribution
3) Get each text topic

In [223]:
docs = df.to_numpy()
docs

array([['initially trouble deciding paperwhite voyage reviews less said thing paperwhite great spending money go voyage fortunately friends owned ended buying paperwhite basis models ppi dollar jump turns pricey voyage page press always sensitive fine specific setting need auto light adjustment week loving paperwhite regrets touch screen receptive easy use keep light specific setting regardless time day case hard change setting either changing light level certain time day every reading also glad went international shipping option amazon extra expense delivery time tracking didnt need worry customs may used third party shipping service'],
       ['allow preface little history casual reader owned nook simple touch read harry potter series girl dragon tattoo series brave new world key titles fair say nook get much use many others may gotten fast forward today full week new kindle paperwhite admit love kindle reading let relate review love reading back kindle investment 00 experience receive buy kindle simply paying screen entire experience included buying amazon reading hunger games trilogy shall moving onto divergent series soon thing nook hindered past years never inspired pick get hands dive never feeling oh man reading thing awesome however paperwhite feeling desire back simply adore kindle considering purchasing one stop thinking simply go full week downloaded books ton reading still half battery left well make happy inspire reader inside'],
       ['enjoying far great reading original fire since fire used make eyes hurt read long experienced paperwhite yet'],
       ...,
       ['remote activate connect box poorly designed remote replacing even worse remote waste time ordered two items pay shipping shipped padded envelope double shipping charges'],
       ['job super priced feel like offer replacement remote better price could spent gotten stick think ridiculous spend remote product fine unhappy price'],
       ['ordered item replace one longer works directions new remove state press home button go home screen using existing remote work must use existing remote following steps existing remote work bought new one sending crap back amazon canceling fire subscription problem day one months worth money']],
      dtype=object)

In [224]:
from gsdmm import MovieGroupProcess

# GSDMM only requires num of unique words and numpy array of text series
docs = df.to_numpy()
vocab = set(" ".join(df.text.to_list()).split())

# Declare GSDMM object where K: number of topcs
gsdmm = MovieGroupProcess(n_iters=50)

# Fit GSDMM model
y = gsdmm.fit(docs, len(vocab))

In stage 0: transferred 1368 clusters with 8 clusters populated
In stage 1: transferred 1289 clusters with 8 clusters populated
In stage 2: transferred 1215 clusters with 8 clusters populated
In stage 3: transferred 1133 clusters with 8 clusters populated
In stage 4: transferred 1000 clusters with 8 clusters populated
In stage 5: transferred 962 clusters with 8 clusters populated
In stage 6: transferred 845 clusters with 8 clusters populated
In stage 7: transferred 874 clusters with 8 clusters populated
In stage 8: transferred 860 clusters with 8 clusters populated
In stage 9: transferred 848 clusters with 8 clusters populated
In stage 10: transferred 843 clusters with 8 clusters populated
In stage 11: transferred 844 clusters with 8 clusters populated
In stage 12: transferred 830 clusters with 8 clusters populated
In stage 13: transferred 854 clusters with 8 clusters populated
In stage 14: transferred 827 clusters with 8 clusters populated
In stage 15: transferred 789 clusters with 8 clusters populated
In stage 16: transferred 789 clusters with 8 clusters populated
In stage 17: transferred 785 clusters with 8 clusters populated
In stage 18: transferred 774 clusters with 8 clusters populated
In stage 19: transferred 776 clusters with 8 clusters populated
In stage 20: transferred 801 clusters with 8 clusters populated
In stage 21: transferred 787 clusters with 8 clusters populated
In stage 22: transferred 833 clusters with 8 clusters populated
In stage 23: transferred 840 clusters with 7 clusters populated
In stage 24: transferred 838 clusters with 7 clusters populated
In stage 25: transferred 821 clusters with 7 clusters populated
In stage 26: transferred 807 clusters with 7 clusters populated
In stage 27: transferred 751 clusters with 7 clusters populated
In stage 28: transferred 748 clusters with 6 clusters populated
In stage 29: transferred 741 clusters with 6 clusters populated
In stage 30: transferred 756 clusters with 6 clusters populated
In stage 31: transferred 757 clusters with 6 clusters populated
In stage 32: transferred 767 clusters with 6 clusters populated
In stage 33: transferred 774 clusters with 7 clusters populated
In stage 34: transferred 796 clusters with 7 clusters populated
In stage 35: transferred 833 clusters with 7 clusters populated
In stage 36: transferred 804 clusters with 7 clusters populated
In stage 37: transferred 770 clusters with 6 clusters populated
In stage 38: transferred 760 clusters with 6 clusters populated
In stage 39: transferred 753 clusters with 6 clusters populated
In stage 40: transferred 751 clusters with 6 clusters populated
In stage 41: transferred 739 clusters with 6 clusters populated
In stage 42: transferred 729 clusters with 6 clusters populated
In stage 43: transferred 752 clusters with 8 clusters populated
In stage 44: transferred 748 clusters with 8 clusters populated
In stage 45: transferred 737 clusters with 7 clusters populated
In stage 46: transferred 787 clusters with 7 clusters populated
In stage 47: transferred 748 clusters with 7 clusters populated
In stage 48: transferred 767 clusters with 7 clusters populated
In stage 49: transferred 747 clusters with 7 clusters populated

In [225]:
# Assigning cluster
df["cluster"] = y
df

                                                   text  cluster
1     initially trouble deciding paperwhite voyage r...        6
2     allow preface little history casual reader own...        6
3     enjoying far great reading original fire since...        6
4     bought one first paperwhites pleased constant ...        5
5     say upfront like coroporate hermetically close...        6
...                                                 ...      ...
1593  remote got alexa echo control volume think rem...        5
1594  change batteries remote twice per month since ...        6
1595  remote activate connect box poorly designed re...        5
1596  job super priced feel like offer replacement r...        3
1597  ordered item replace one longer works directio...        6

[1597 rows x 2 columns]

In [226]:
# print number of documents per topic
doc_count = np.array(gsdmm.cluster_doc_count)
print('Number of documents per topic :', doc_count)

# Topics sorted by the number of document they are allocated to
top_index = doc_count.argsort()[:][::-1]
print('Most important clusters (by number of docs inside):', top_index)

Number of documents per topic : [122  32  25  97   0 316 886 119]
Most important clusters (by number of docs inside): [6 5 0 7 3 1 2 4]

In [227]:
# Get c-TF-IDF

# Treat all documents in one cluster as one text
class_text = []
for i in range(len(doc_count)):
    class_text.append(" ".join(df[df["cluster"]==i]["text"].to_list()))

# Use sklearn's TF-IDF wrapper
tfidf_vectorizer = TfidfVectorizer()
c_tfidf = tfidf_vectorizer.fit_transform(raw_documents=class_text)

# Get highest weighted word per cluster
index_value={i[1]:i[0] for i in tfidf_vectorizer.vocabulary_.items()}
weighted_words = {}
for cluster ,row in enumerate(c_tfidf):
    words_weight_dict = {index_value[column]:value for (column,value) in zip(row.indices,row.data)}
    words_weight_dict = {k: v for k, v in sorted(words_weight_dict.items(), key=lambda item: item[1], reverse=True)}
    top10words = {k: words_weight_dict[k] for k in list(words_weight_dict)[:10]}
    weighted_words[cluster] = top10words

In [228]:
weighted_words

{0: {'amazon': 0.2741696389680442,
  'roku': 0.20461479797870435,
  'tv': 0.19705942800828177,
  'device': 0.19134756052978083,
  'box': 0.19032092987446605,
  'like': 0.17706789183352856,
  'fire': 0.17135602435502761,
  'kindle': 0.15993228939802578,
  'use': 0.1513644881802744,
  'great': 0.14565262070177348},
 1: {'kindle': 0.21472682023073322,
  'great': 0.21472682023073322,
  'echo': 0.20279755244013695,
  'remote': 0.20031523688898514,
  'amazon': 0.19086828464954064,
  'prime': 0.19086828464954064,
  'use': 0.17893901685894434,
  'voice': 0.16700974906834806,
  'one': 0.14315121348715548,
  'button': 0.13122194569655918},
 2: {'fire': 0.402928912262418,
  'hd': 0.22774242867006236,
  'model': 0.201464456131209,
  'year': 0.19270513195159122,
  'amazon': 0.19270513195159122,
  'one': 0.1664271594127379,
  'great': 0.1489085110535023,
  'kindle': 0.14014918687388453,
  'screen': 0.12263053851464895,
  'well': 0.12263053851464895},
 3: {'fire': 0.3245397969338852,
  'kindle': 0.2643159170904838,
  'amazon': 0.2643159170904838,
  'use': 0.1840174106326153,
  'one': 0.15390547071091462,
  'like': 0.15055969960850343,
  'screen': 0.14721392850609225,
  'read': 0.14052238630126987,
  'hd': 0.13717661519885868,
  'love': 0.13717661519885868},
 4: {},
 5: {'headphones': 0.2846340899509308,
  'ears': 0.26502561243217604,
  'earbuds': 0.26502561243217604,
  'magnets': 0.22869535845959543,
  'like': 0.19831327014298472,
  'kindle': 0.17558987460576772,
  'sound': 0.159063768760519,
  'tangle': 0.1590153674593056,
  'amazon': 0.15768659327341492,
  'fire': 0.13565178547974996},
 6: {'kindle': 0.23514727494791654,
  'amazon': 0.22665074255233753,
  'fire': 0.20736131765426624,
  'like': 0.1791160883392333,
  'headphones': 0.16701081316336483,
  'read': 0.14604850279968254,
  'prime': 0.1449003227462259,
  'use': 0.13847051444686884,
  'one': 0.13204070614751173,
  'tv': 0.1306628900833638},
 7: {'great': 0.2325804262273787,
  'kindle': 0.22910907658219393,
  'amazon': 0.22216637729182445,
  'fire': 0.21869502764663967,
  'one': 0.19786692977553114,
  'like': 0.18051018154960738,
  'use': 0.1631534333236836,
  'screen': 0.15621073403331406,
  'good': 0.1527393843881293,
  'device': 0.13885398580739028}}

# Topic Modelling - NMF

# Sentiment analysis
1) Get sentiment distribution
2) Get sentiment over topics
3) Visualization

In [33]:
df

                                                      0
1     This tremendous 100% varietal wine hails from ...
2     Ripe aromas of fig, blackberry and cassis are ...
3     Mac Watson honors the memory of a wine once ma...
4     This spent 20 months in 30% new French oak, an...
5     This is the top wine from La BÃ©gude, named aft...
...                                                 ...
4996  This easy-drinking, value-minded wine offers n...
4997  Peach and powdered sugar aromas are first up, ...
4998  Simple cherry and plum aromas lead to a modest...
4999  This 100% varietal wine is lightly aromatic wi...
5000  This wine offers intriguing notes of peach, ma...

[5000 rows x 1 columns]

# Aspect Based Sentiment Analysis
1) Get visualization

# Keyphrase Extraction
1) Per sentiment
2) Per cluster

# Most representative text
1. Textrank -> per sentiment